<?xml version="1.0" encoding="utf-8"?>

<RuleSet Name="InCube Custom Ruleset"
         Description="This rule set contains all rules. Running this rule set may result in a large number of warnings being reported. Use this rule set to get a comprehensive picture of all issues in your code. This can help you decide which of the more focused rule sets are most appropriate to run for your projects."
         ToolsVersion="15.0">
	<IncludeAll Action="Warning" />
	<Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
		<Rule Id="CA1002" Action="None" />
		<Rule Id="CA1004" Action="None" />
		<Rule Id="CA1006" Action="None" />
		<Rule Id="CA1008" Action="None" />
		<Rule Id="CA1014" Action="None" />
		<Rule Id="CA1016" Action="Warning" />
		<Rule Id="CA1017" Action="None" />
		<Rule Id="CA1018" Action="Warning" />
		<Rule Id="CA1020" Action="None" />
		<Rule Id="CA1024" Action="None" />
		<Rule Id="CA1026" Action="None" />
		<Rule Id="CA1027" Action="None" />
		<Rule Id="CA1028" Action="None" />
		<Rule Id="CA1031" Action="None" />
		<Rule Id="CA1034" Action="None" />
		<Rule Id="CA1040" Action="None" />
		<Rule Id="CA1056" Action="None" />
		<Rule Id="CA1062" Action="None" />
		<Rule Id="CA1303" Action="None" />
		<Rule Id="CA1305" Action="None" />
		<Rule Id="CA1308" Action="None" />
		<Rule Id="CA1502" Action="None" />
		<Rule Id="CA1505" Action="Warning" />
		<Rule Id="CA1506" Action="None" />
		<Rule Id="CA1701" Action="None" />
		<Rule Id="CA1702" Action="None" />
		<Rule Id="CA1703" Action="None" />
		<Rule Id="CA1704" Action="None" />
		<Rule Id="CA1707" Action="None" />
		<Rule Id="CA1709" Action="None" />
		<Rule Id="CA1710" Action="None" />
		<Rule Id="CA1711" Action="None" />
		<Rule Id="CA1716" Action="None" />
		<Rule Id="CA1717" Action="None" />
		<Rule Id="CA1720" Action="None" />
		<Rule Id="CA1726" Action="None" />
		<Rule Id="CA1812" Action="None" />
		<Rule Id="CA1814" Action="None" />
		<Rule Id="CA1819" Action="None" />
		<Rule Id="CA2000" Action="None" />
		<Rule Id="CA2100" Action="None" />
		<Rule Id="CA2202" Action="None" />
		<Rule Id="CA2204" Action="None" />
		<Rule Id="CA2208" Action="None" />
		<Rule Id="CA2210" Action="None" />
		<Rule Id="CA2227" Action="None" />
		<Rule Id="CA2234" Action="None" />
		<Rule Id="CA1402" Action="None" />
	</Rules>
	<Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
		<Rule Id="IDE0003" Action="None" />
		<Rule Id="CA1402" Action="None" />
	</Rules>
	<Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
		<Rule Id="CA1717" Action="None" />
		<Rule Id="CA2007" Action="None" />
		<Rule Id="CA1402" Action="None" />
	</Rules>
	<Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
		<Rule Id="SA0001" Action="None" />
		<Rule Id="SA1004" Action="None" />
		<Rule Id="SA1006" Action="None" />
		<Rule Id="SA1012" Action="None" />
		<Rule Id="SA1013" Action="None" />
		<Rule Id="SA1024" Action="None" />
		<Rule Id="SA1025" Action="None" />
		<Rule Id="SA1026" Action="None" />
		<Rule Id="SA1028" Action="None" />
		<Rule Id="SA1100" Action="None" />
		<Rule Id="SA1101" Action="None" />
		<Rule Id="SA1102" Action="None" />
		<Rule Id="SA1103" Action="None" />
		<Rule Id="SA1104" Action="None" />
		<Rule Id="SA1105" Action="None" />
		<Rule Id="SA1106" Action="None" />
		<Rule Id="SA1107" Action="None" />
		<Rule Id="SA1108" Action="None" />
		<Rule Id="SA1110" Action="None" />
		<Rule Id="SA1113" Action="None" />
		<Rule Id="SA1114" Action="None" />
		<Rule Id="SA1115" Action="None" />
		<Rule Id="SA1116" Action="None" />
		<Rule Id="SA1118" Action="None" />
		<Rule Id="SA1119" Action="None" />
		<Rule Id="SA1121" Action="None" />
		<Rule Id="SA1122" Action="None" />
		<Rule Id="SA1123" Action="None" />
		<Rule Id="SA1124" Action="None" />
		<Rule Id="SA1127" Action="None" />
		<Rule Id="SA1128" Action="None" />
		<Rule Id="SA1133" Action="None" />
		<Rule Id="SA1137" Action="None" />
		<Rule Id="SA1200" Action="None" />
		<Rule Id="SA1201" Action="None" />
		<Rule Id="SA1202" Action="None" />
		<Rule Id="SA1203" Action="None" />
		<Rule Id="SA1204" Action="None" />
		<Rule Id="SA1206" Action="None" />
		<Rule Id="SA1207" Action="None" />
		<Rule Id="SA1208" Action="None" />
		<Rule Id="SA1209" Action="None" />
		<Rule Id="SA1210" Action="None" />
		<Rule Id="SA1211" Action="None" />
		<Rule Id="SA1212" Action="None" />
		<Rule Id="SA1213" Action="None" />
		<Rule Id="SA1214" Action="None" />
		<Rule Id="SA1300" Action="None" />
		<Rule Id="SA1311" Action="None" />
		<Rule Id="SA1407" Action="None" />
		<Rule Id="SA1408" Action="None" />
		<Rule Id="SA1410" Action="None" />
		<Rule Id="SA1411" Action="None" />
		<Rule Id="SA1413" Action="None" />
		<Rule Id="SA1501" Action="None" />
		<Rule Id="SA1502" Action="None" />
		<Rule Id="SA1503" Action="None" />
		<Rule Id="SA1505" Action="None" />
		<Rule Id="SA1513" Action="None" />
		<Rule Id="SA1515" Action="None" />
		<Rule Id="SA1600" Action="None" />
		<Rule Id="SA1601" Action="None" />
		<Rule Id="SA1602" Action="None" />
		<Rule Id="SA1604" Action="None" />
		<Rule Id="SA1605" Action="None" />
		<Rule Id="SA1606" Action="None" />
		<Rule Id="SA1607" Action="None" />
		<Rule Id="SA1608" Action="None" />
		<Rule Id="SA1611" Action="None" />
		<Rule Id="SA1612" Action="None" />
		<Rule Id="SA1613" Action="None" />
		<Rule Id="SA1614" Action="None" />
		<Rule Id="SA1615" Action="None" />
		<Rule Id="SA1616" Action="None" />
		<Rule Id="SA1617" Action="None" />
		<Rule Id="SA1618" Action="None" />
		<Rule Id="SA1619" Action="None" />
		<Rule Id="SA1620" Action="None" />
		<Rule Id="SA1621" Action="None" />
		<Rule Id="SA1622" Action="None" />
		<Rule Id="SA1623" Action="None" />
		<Rule Id="SA1624" Action="None" />
		<Rule Id="SA1625" Action="None" />
		<Rule Id="SA1626" Action="None" />
		<Rule Id="SA1627" Action="None" />
		<Rule Id="SA1629" Action="None" />
		<Rule Id="SA1633" Action="None" />
		<Rule Id="SA1634" Action="None" />
		<Rule Id="SA1635" Action="None" />
		<Rule Id="SA1637" Action="None" />
		<Rule Id="SA1638" Action="None" />
		<Rule Id="SA1640" Action="None" />
		<Rule Id="SA1642" Action="None" />
		<Rule Id="SA1643" Action="None" />
		<Rule Id="SA1648" Action="None" />
		<Rule Id="SA1649" Action="None" />
		<Rule Id="CA1402" Action="None" />
	</Rules>
</RuleSet>