<?xml version="1.0" encoding="utf-8"?>

<RuleSet Name="InCube Custom Ruleset"
         Description="This rule set contains all rules. Running this rule set may result in a large number of warnings being reported. Use this rule set to get a comprehensive picture of all issues in your code. This can help you decide which of the more focused rule sets are most appropriate to run for your projects."
         ToolsVersion="15.0">
	<IncludeAll Action="Warning" />
	<Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
	</Rules>
	<Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
	</Rules>
	<Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
	</Rules>
	<Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
		<Rule Id="SA1200" Action="None" />
		<Rule Id="SA1402" Action="None" />
		<Rule Id="SA1124" Action="None" />
		<Rule Id="SA1633" Action="None" />
		<Rule Id="SA1503" Action="None" />
	</Rules>
</RuleSet>